@using TutorialMultiTablesNETCore.Models
@model Alumno

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h3>Editar Alumno</h3>​
            <form asp-controller="Alumno" asp-action="EditAlumno" method="post">​
                <div class="form-group">
                    <input asp-for="AlumnoId" type="hidden" />​
                    <label asp-for="Nombre"></label>​
                    <input asp-for="Nombre" class="form-control" />​
                </div>
                <br />​
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Actualizar Alumno</button>​
                </div>
            </form>​
        </div>
    </div>
</div>